{% extends 'core/base.html' %}
{% block title %}Change Password{% endblock %}
{% block style %}
  <style>
    .dropdown-item:hover{
        background-color: rgb(0, 137, 123);
    }
    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 30%;
      height:50%;
  }
  
  #submit{
    background-color: rgba(5, 253, 228, 0.479);
    border: none;
  }
  #submit:hover{
    background-color: #285e61;
  }
  .form-signin {
    max-width: 330px;
    padding: 15px;
  }
  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  </style>
{% endblock %}
{% block content %}<br>
<!--Password-->
    <main class="form-signin w-100 m-auto shadow-lg p-4 mb-5 rounded">
      {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div style="background-color: #feb2b2;" class="alert alert-dismissible fade show" role="alert">
                  {{ error|escape }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}
      <form method="post" action=".">
        {% csrf_token %}
        <h1 class="h3 mb-3 fw-normal text-center text-light">Change Password</h1><br>
    
        <div class="form-floating">
          <input name="old_password" type="password" class="form-control" id="floatingInput1" placeholder="Old Password">
          <label for="floatingInput1">Old Password</label>
        </div>

        <div class="form-floating">
            <input name="new_password1" type="password" class="form-control" id="floatingInput2" placeholder="New Password">
            <label for="floatingInput2">New Password</label>
        </div>

        <div class="form-floating">
            <input name="new_password2" type="password" class="form-control" id="floatingInput3" placeholder="New Password Repeat">
            <label for="floatingInput3">New Password Repeat</label>
        </div>

        <br>
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" onclick="showPassword();" value="show-password text-light"> Show Password
          </label>
        </div>
        <button id="submit" class="w-100 btn btn-lg" type="submit">Change</button>
        <br><br>
        <p class="mt-5 mb-3 text-light">© 2022 Pineapple Inc.</p>
      </form>
    </main>    
    <!--password-->
{% endblock %}
{% block scripts %}
  <script>
    function showPassword(){
        var p1 = document.getElementById('floatingInput1');
        var p2 = document.getElementById('floatingInput2');
        var p3 = document.getElementById('floatingInput3');
        if (p1.type === 'password' && p2.type === 'password' && p3.type === 'password'){
            p1.type = 'text';
            p2.type = 'text';
            p3.type = 'text';
        }else{
            p1.type = 'password';
            p2.type = 'password';
            p3.type = 'password';
        }
    }
  </script>
{% endblock %}