{% extends 'core/base.html' %}
{% block title %}Reset Password{% endblock %}
{% block style %}
<style>
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height:50%;
}

#submit{
  background-color: rgba(5, 253, 228, 0.479);
  border: none;
}
#submit:hover{
  background-color: #285e61;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
</style>
{% endblock %}
{% block content %}
<!--login-->
    <main class="form-signin w-100 m-auto shadow-lg p-4 mb-5 rounded">
      {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div style="background-color: #feb2b2;" class="alert alert-dismissible fade show" role="alert">
                  {{ error|escape }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}
    {% if messages %}{% for message in messages %}
      <div style="background-color: #feb2b2;" class="alert alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}{% endif %}
      <form method="post" action=".">
        {% csrf_token %}
        <h1 class="h3 mb-3 fw-normal text-center text-light">Password Reset</h1><br>
    
        <div class="form-floating">
          <input required name="email" type="email" class="form-control" id="floatingInput" placeholder="Email Address">
          <label for="floatingInput">Email Address</label>
        </div><br>

        <button id="submit" class="w-100 btn btn-lg" type="submit">Reset</button>
        <br><br><div style="text-align: center;">
            Already have account?<a style=" text-decoration: none ;" href="/login/">Log in</a><hr>
          <a style=" text-decoration: none ;" href="/signup/">Create New Account</a>
        </div>
        <p class="mt-5 mb-3 text-light">© 2022 Pineapple Inc.</p>
      </form>
    </main>
{% endblock %}